.main {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  /* padding: 20px; */
  box-sizing: border-box;
  min-height: 100vh;
}
.spells {
  width: 80%;
}
.spell {
  width: 100%;
  padding: 20px 20px 0 0;
  box-sizing: border-box;
}
.spellName {
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}
ul {
  list-style: none;
}
.classFilter {
  margin: 0 0 20px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.classFilter .filter {
  flex: 1;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
.filter {
  cursor: pointer;
}
.filter.active {
  background-color: var(--yellow);
}
.spellDetails {
  margin-top: 20px;
  padding: 32px 20px 20px 20px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--yellow);
}
.spellDetails > * {
  line-height: 1.6rem;
  font-size: 1.1rem;
}
.spellDetails > *:last-child {
  margin-top: 10px;
}
.spellDetails p {
}

.levelFilter {
  width: 20%;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}
.levelFilter .filter {
  margin-bottom: 10px;
  padding: 10px 20px;
}
