.main {
  width: 100%;
  max-width: 1000px;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: auto;
  grid-template-areas:
    'header header'
    'sidebar main';
  box-sizing: border-box;
}
.spells {
  grid-area: main;
}
.spell {
  width: 100%;
  padding: 0 20px 20px 0;
  box-sizing: border-box;
}
.spellName {
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}
ul {
  list-style: none;
}
.classFilter {
  grid-area: header;
  margin: 0 0 40px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}
.classFilter .filter {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.filter {
  cursor: pointer;
}
.filter.active {
  background-color: var(--yellow);
}
.spellDetails {
  margin-top: 20px;
  padding: 32px 20px 20px 20px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--yellow);
}
.spellDetails > * {
  line-height: 1.6rem;
  font-size: 1.1rem;
}
.spellDetails > *:last-child {
  margin-top: 10px;
}
.spellDetails p {
}

.levelFilter {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.levelFilter .filter {
  margin-bottom: 10px;
  padding: 10px 20px;
}
.sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.searchFilter {
  margin: 0 0 10px 0;
  width: 70%;
  height: 25px;
  font-size: 1rem;
}
