table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid lightgray;
}
th {
    background-color: rgb(240 99 99);
    color: white;
    font-weight: 400;
    height: 43px;
}
td,
th {
  padding: 4px 8px;
  text-align: center;
}
th.features {
  text-align: left;
}
td.features {
  text-align: left;
}
tr:nth-child(even) {
  background-color: rgb(233, 233, 233);
}
tr:nth-child(odd) {
  background-color: white;
}
