.main {
  width: 80vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  /* box-shadow: rgb(117, 117, 117) 5px 5px 10px; */
}
.main > * {
  margin-bottom: 20px;
}

.card {
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgb(237, 237, 92);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.card .playerName {
  margin-bottom: 12px;
  font-size: 1.6em;
  font-weight: 600;
}
.card label {
  margin-right: 20px;
}

.card input {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: rgb(237, 237, 92);
  border: 2px solid rgb(237, 237, 92);
  border-bottom: 2px solid rgb(139, 139, 139);
  height: 30px;
  width: 100%;
}
input[type='text']:disabled {
  /* background: #dddddd; */
  border: none;
  color: rgb(53, 53, 53);
}
input.initInput {
  width: 50px;
}
button.button {
  height: 36px;
  padding: 0 10px;
  cursor: pointer;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

input:focus {
  outline: none;

  border: 2px solid rgb(36, 65, 162);
  border-radius: 5px;
}

.card.low {
  background-color: rgb(231, 88, 88);
}
.card.low input {
  border: 2px solid rgb(196, 160, 160);
  background-color: rgb(196, 160, 160);
}

.card.low input:focus {
  border: 2px solid rgb(36, 65, 162);
}
