@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --yellow: rgb(255, 217, 103);
  --background: rgb(255, 255, 255);
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
}
body {
  margin: 0 auto;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  background-color: white;
}
#root {
  width: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
div,
input,
header,
footer {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.icon {
  cursor: pointer;
}
